/* :root{
  --bc: 255 255 255;
} */



/* Header ------------------ */

.header {
  top: -140px;
  -webkit-transition: all .3s ease;
  -o-transition: all .3s ease;
  transition: all .3s ease;
}

.header.opened {
  top: 0;
}


.header-bg {
  background-color: #fff;
}
header.header-bg .logo-white,
header.bg-transparent .logo-dark {
  display: none;
}



@media(max-width: 1023px) {
  .header~.content-wrap {
    padding-top: 112px;
  }
}


/* ////////////////////////////////////////// */
/* CORE STYLES */
:root {
  --primary-color: rgba(13, 110, 139, 0.75);
  /* --primary-color: rgba(92, 145, 224, 0.75); */
  --overlay-color: rgba(24, 39, 51, 0.85);
  /* --overlay-color: rgba(92, 145, 224, 0.85); */
  --menu-speed: 0.75s;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


/* .container {
    max-width: 960px;
    margin: auto;
    overflow: hidden;
    padding: 0 3rem;
  }
  
  .showcase {
    background: var(--primary-color);
    color: #fff;
    height: 100vh;
    position: relative;
  }
  
  .showcase:before {
    content: "";
    background: url("https://images.pexels.com/photos/533923/pexels-photo-533923.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260")
      no-repeat center center/cover;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
  }
  
  .showcase .showcase-inner {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 100%;
  }
  
  .showcase h1 {
    font-size: 4rem;
  }
  
  .showcase p {
    font-size: 1.3rem;
  }
   */
/* .btn {
    display: inline-block;
    border: none;
    background: var(--primary-color);
    color: #fff;
    padding: 0.75rem 1.5rem;
    margin-top: 1rem;
    transition: opacity 1s ease-in-out;
    text-decoration: none;
  } */

/* .btn:hover {
    opacity: 0.7;
  }
   */
/* MENU STYLES */
.menu-wrap {
  /* position: fixed; */
  position: relative;
  /* top: 0;
  right: 0; */
  z-index: 1;
}

.menu-wrap .toggler {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 2;
  cursor: pointer;
  width: 80px;
  height: 80px;
  opacity: 0;
}

/* .menu-wrap .hamburger {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1;
  width: 60px;
  height: 60px;
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
} */

.menu-wrap .hamburger {
  /* position: absolute; */
  /* top: 33px; */
  /* right: 50px; */
  width: 80px;
  height: 80px;
  padding: 0;
  margin: 0;
  z-index: 9;
  /* overflow: hidden; */
  /* box-shadow: 0 8px 30px 0 rgba(0, 0, 0, 0.3); */
  /* box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px; */
  /* background-color: #353746; */
  animation: border-transform 7s linear infinite;
  transition: top 350ms 1100ms cubic-bezier(0.23, 1, 0.32, 1),
    right 350ms 1100ms cubic-bezier(0.23, 1, 0.32, 1),
    transform 250ms 1100ms ease,
    width 650ms 400ms cubic-bezier(0.23, 1, 0.32, 1),
    height 650ms 400ms cubic-bezier(0.23, 1, 0.32, 1);



  display: flex;
  align-items: center;
  justify-content: center;

}

@keyframes border-transform {

  0%,
  100% {
    border-radius: 63% 37% 54% 46% / 55% 48% 52% 45%;
  }

  14% {
    border-radius: 40% 60% 54% 46% / 49% 60% 40% 51%;
  }

  28% {
    border-radius: 54% 46% 38% 62% / 49% 70% 30% 51%;
  }

  42% {
    border-radius: 61% 39% 55% 45% / 61% 38% 62% 39%;
  }

  56% {
    border-radius: 61% 39% 67% 33% / 70% 50% 50% 30%;
  }

  70% {
    border-radius: 50% 50% 34% 66% / 56% 68% 32% 44%;
  }

  84% {
    border-radius: 46% 54% 50% 50% / 35% 61% 39% 65%;
  }
}


/* Hamburger Line */
.menu-wrap .hamburger>div {
  position: relative;
  flex: none;
  /* width: 100%; */
  width: 32px;
  height: 3px;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.4s ease;
  border-radius: 3px;
  z-index: 1;
}

.demo-travel .menu-wrap .hamburger>div {
  background-color: #38d7c7;
}

/* Hamburger Lines - Top & Bottom */
.menu-wrap .hamburger>div::before,
.menu-wrap .hamburger>div::after {
  content: "";
  position: absolute;
  z-index: 1;
  top: -10px;
  width: 100%;
  height: 3px;
  background: inherit;
  border-radius: 3px;
}

/* Moves Line Down */
.menu-wrap .hamburger>div::after {
  top: 10px;
}

/* Toggler Animation */
.menu-wrap .toggler:checked+.hamburger>div {
  transform: rotate(135deg);
}

/* Turns Lines Into X */
.menu-wrap .toggler:checked+.hamburger>div:before,
.menu-wrap .toggler:checked+.hamburger>div:after {
  top: 0;
  transform: rotate(90deg);
}

/* Rotate On Hover When Checked */
.menu-wrap .toggler:checked:hover+.hamburger>div {
  transform: rotate(225deg);
}

/* Show Menu */
.menu-wrap .toggler:checked~.menu-content {
  visibility: visible;
}

.menu-wrap .toggler:checked~.menu-content>div {
  transform: scale(1);
  transition-duration: var(--menu-speed);
}

.menu-wrap .toggler:checked~.menu-content>div>div {
  opacity: 1;
  transition: opacity 0.4s ease 0.4s;
}

.menu-wrap .menu-content {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  visibility: hidden;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.menu-wrap .menu-content>div {
  background: var(--overlay-color);
  border-radius: 50%;
  width: 350vw;
  height: 350vw;
  display: flex;
  flex: none;
  align-items: center;
  justify-content: center;
  transform: scale(0);
  transition: all 0.4s ease;
}

.menu-wrap .menu-content>div>div {
  text-align: center;
  max-width: 90vw;
  max-height: 100vh;
  opacity: 0;
  transition: opacity 0.4s ease;
}

.menu-wrap .menu-content>div>div>ul>li {
  list-style: none;
  color: #fff;
  font-size: 1.5rem;
  padding: .3rem 0;
}

.menu-wrap .menu-content>div>div>ul>li>a {
  /* color: inherit;
  text-decoration: none; */

  /* width: calc(100%);
  background-repeat: no-repeat;
  background-size: 0% 100%;
  -webkit-transition: all 500ms ease-in-out;
  -o-transition: all 500ms ease-in-out;
  transition: all 500ms ease-in-out;
  text-transform: capitalize;
  display: inline; */
  /* color: #fff;
  background-image: -o-linear-gradient(transparent calc(100% - 5px), rgba(255, 255, 255, 0.3) 3px);
  background-image: linear-gradient(transparent calc(100% - 5px), rgba(255, 255, 255, 0.3) 3px); */









  --fill-color: #fff;
  position: relative;
  display: block;
  text-decoration: none;
  text-transform: uppercase;
  -webkit-text-stroke: 2px var(--fill-color);
  background: linear-gradient(var(--fill-color) 0 100%) left/0 no-repeat;
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  transition: 0.5s linear;
  font-weight: 800;
  font-size: 3rem;
  letter-spacing: 5px;


}

.menu-wrap .menu-content>div>div>ul>li>a:hover {
  background-size: 100%;
}

/* .menu-wrap .menu-content>div>div>ul>li>a:hover {
  background-size: 100% 100%;
} */


@media(max-width: 767px) {
  .menu-wrap .menu-content>div>div>ul>li>a {
    font-size: 2rem;
  }
}



















/* //////////////////////////////////////// */
/* .floating-focus-two:focus~.input-text {
  background: white;
  transform: scale(0.9) translateY(-.9rem) translateX(0.15rem);
  padding-top: 0;
  padding-bottom: 0;
}

.demo-particles .floating-focus-two:focus~.input-text {
  background: #30A2FF;
} */


















@media (prefers-reduced-motion: reduce) {
  .form-floating > label {
    transition: none;
  }
}
.form-floating > label {
  transform-origin: 0 0;
  transition: opacity 0.1s ease-in-out, transform 0.1s ease-in-out;
}

.form-floating > .form-control::-moz-placeholder {
  color: transparent;
}
.form-floating > .form-control::placeholder {
  color: transparent;
}
.form-floating > .form-control:not(:-moz-placeholder-shown) ~ label {
  color: rgba(var(--bs-body-color-rgb), 0.65);
  transform: scale(0.9) translateY(-1.7rem) translateX(0.15rem);
}

.form-floating > .form-control:focus ~ label,
.form-floating > .form-control:not(:placeholder-shown) ~ label {
  /* color: rgba(var(--bs-body-color-rgb), 0.65); */
  transform: scale(0.9) translateY(-1.7rem) translateX(0.15rem);
}
.form-floating > .form-control:not(:-moz-placeholder-shown) ~ label::after {
  position: absolute;
  inset: 1rem 0.375rem;
  z-index: -1;
  height: 1.5em;
  content: "";
  background-color:#ed2a2a;
}
.form-floating > .form-control:focus ~ label::after,
.form-floating > .form-control:not(:placeholder-shown) ~ label::after {
  position: absolute;
  inset: 1rem 0.375rem;
  z-index: -1;
  height: 1.5em;
  content: "";
  background-color:#30a2ff;
}
.form-floating > .form-control:-webkit-autofill ~ label {
  color: rgba(var(--bs-body-color-rgb), 0.65);
  transform: scale(0.9) translateY(-1.7rem) translateX(0.15rem);
}
.form-floating > .form-control-plaintext ~ label {
  border-width: var(--bs-border-width) 0;
}
.form-floating > :disabled ~ label {
  color: #6c757d;
}
/* .form-floating > :disabled ~ label::after {
  background-color: var(--bs-secondary-bg);
} */

















/* element.style {
  background: rgba(255, 255, 255, 0.25);
  backdrop-filter: blur(50px);
} */

.social-icon a {
  border-radius: 50% 50% 40% 60% / 35% 33% 67% 65%;
}




/* -----------------------------------------------------------------
    -  Page Loader
----------------------------------------------------------------- */
#loader-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1031;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.loader-img {
  /* left: 50%; */
  /* top: 50%; */
  z-index: 1001;
  width: 135px;
  /* height: 80px; */
  position: relative;
  /* -webkit-transform: translate(-50%, -50%); */
  /* -ms-transform: translate(-50%, -50%); */
  /* transform: translate(-50%, -50%); */
  margin-bottom: 30px;
}

.loader-img svg {
  height: 100%;
  width: 100%;
  -webkit-animation: spin 2s linear infinite;
  /* Chrome, Opera 15+, Safari 5+ */
  animation: spin 2s linear infinite;
  /* Chrome, Firefox 16+, IE 10+, Opera */
}

.loader-img img {
  /* height: 100%; */
  width: 100%;
}

@media(min-width: 576px) {
  .loader-img {
    width: 150px;
    /* height: 100px; */
  }
}

/* =================== */
.loader-text {
  -webkit-animation: fadeIn 1s linear forwards;
  animation: fadeIn 1s linear forwards;
  text-align: center;
  color: #fff;
  position: relative;
  z-index: 1001;
  font-size: 36px;
  margin-top: 20px;
}

.loader-text-dot {
  -webkit-animation: appear1 1s 1s steps(1, start) infinite;
  animation: appear1 1s 1s steps(1, start) infinite;
  display: inline-block;
}

.loader-text-dot:nth-child(2) {
  -webkit-animation: appear2 1s 1s steps(1, start) infinite;
  animation: appear2 1s 1s steps(1, start) infinite;
}

.loader-text-dot:nth-child(3) {
  -webkit-animation: appear3 1s 1s steps(1, start) infinite;
  animation: appear3 1s 1s steps(1, start) infinite;
}

@-webkit-keyframes appear1 {
  from {
    visibility: hidden;
  }

  33%,
  to {
    visibility: visible;
  }
}

@keyframes appear1 {
  from {
    visibility: hidden;
  }

  33%,
  to {
    visibility: visible;
  }
}

@-webkit-keyframes appear2 {

  from,
  33% {
    visibility: hidden;
  }

  67%,
  to {
    visibility: visible;
  }
}

@keyframes appear2 {

  from,
  33% {
    visibility: hidden;
  }

  67%,
  to {
    visibility: visible;
  }
}

@-webkit-keyframes appear3 {

  from,
  67% {
    visibility: hidden;
  }

  to {
    visibility: visible;
  }
}

@keyframes appear3 {

  from,
  67% {
    visibility: hidden;
  }

  to {
    visibility: visible;
  }
}

/* //////////////////////// */
#load {
  /* position: absolute; */
  width: 500px;
  /* height: 36px; */
  /* left: 50%; */
  /* top: 40%; */
  z-index: 1001;
  /* margin-left: -300px; */
  overflow: visible;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: default;
  position: relative;
}

#load div {
  position: absolute;
  width: 20px;
  height: 60px;
  opacity: 0;
  font-family: Helvetica, Arial, sans-serif;
  animation: move 2s linear infinite;
  -o-animation: move 2s linear infinite;
  -moz-animation: move 2s linear infinite;
  -webkit-animation: move 2s linear infinite;
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
  -o-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  color: #000;
  font-size: 19px;
  font-weight: 700;
}

@media(min-width: 576px) {
  #load div {
    font-size: 21px;
  }
}

#load div:nth-child(2) {
  animation-delay: 0.2s;
  -o-animation-delay: 0.2s;
  -moz-animation-delay: 0.2s;
  -webkit-animation-delay: 0.2s;
}

#load div:nth-child(3) {
  animation-delay: 0.4s;
  -o-animation-delay: 0.4s;
  -webkit-animation-delay: 0.4s;
  -webkit-animation-delay: 0.4s;
}

#load div:nth-child(4) {
  animation-delay: 0.6s;
  -o-animation-delay: 0.6s;
  -moz-animation-delay: 0.6s;
  -webkit-animation-delay: 0.6s;
}

#load div:nth-child(5) {
  animation-delay: 0.8s;
  -o-animation-delay: 0.8s;
  -moz-animation-delay: 0.8s;
  -webkit-animation-delay: 0.8s;
}

#load div:nth-child(6) {
  animation-delay: 1s;
  -o-animation-delay: 1s;
  -moz-animation-delay: 1s;
  -webkit-animation-delay: 1s;
}

#load div:nth-child(7) {
  animation-delay: 1.2s;
  -o-animation-delay: 1.2s;
  -moz-animation-delay: 1.2s;
  -webkit-animation-delay: 1.2s;
}

@keyframes move {
  0% {
    left: 0;
    opacity: 0;
  }

  35% {
    left: 41%;
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    opacity: 1;
  }

  65% {
    left: 59%;
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    opacity: 1;
  }

  100% {
    left: 100%;
    -webkit-transform: rotate(-180deg);
    transform: rotate(-180deg);
    opacity: 0;
  }
}

@-webkit-keyframes move {
  0% {
    left: 0;
    opacity: 0;
  }

  35% {
    left: 41%;
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    opacity: 1;
  }

  65% {
    left: 59%;
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    opacity: 1;
  }

  100% {
    left: 100%;
    -webkit-transform: rotate(-180deg);
    transform: rotate(-180deg);
    opacity: 0;
  }
}


/* //////////////////////////////// */

#loader {
  display: block;
  position: relative;
  left: 50%;
  top: 50%;
  width: 90px;
  height: 90px;
  margin: -55px 0 0 -55px;
  border-radius: 50%;
  border: 2px solid transparent;
  border-top-color: #FEED01;
  -webkit-animation: spin 2s linear infinite;
  /* Chrome, Opera 15+, Safari 5+ */
  animation: spin 2s linear infinite;
  /* Chrome, Firefox 16+, IE 10+, Opera */
  z-index: 1001;
}

#loader:before {
  content: "";
  position: absolute;
  top: 5px;
  left: 5px;
  right: 5px;
  bottom: 5px;
  border-radius: 50%;
  border: 2px solid transparent;
  border-top-color: #2BFD86;
  -webkit-animation: spin 3s linear infinite;
  /* Chrome, Opera 15+, Safari 5+ */
  animation: spin 3s linear infinite;
  /* Chrome, Firefox 16+, IE 10+, Opera */
}

#loader:after {
  content: "";
  position: absolute;
  top: 15px;
  left: 15px;
  right: 15px;
  bottom: 15px;
  border-radius: 50%;
  border: 2px solid transparent;
  border-top-color: #FEED01;
  -webkit-animation: spin 1.5s linear infinite;
  /* Chrome, Opera 15+, Safari 5+ */
  animation: spin 1.5s linear infinite;
  /* Chrome, Firefox 16+, IE 10+, Opera */
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    /* Chrome, Opera 15+, Safari 3.1+ */
    -ms-transform: rotate(0deg);
    /* IE 9 */
    transform: rotate(0deg);
    /* Firefox 16+, IE 10+, Opera */
  }

  100% {
    -webkit-transform: rotate(360deg);
    /* Chrome, Opera 15+, Safari 3.1+ */
    -ms-transform: rotate(360deg);
    /* IE 9 */
    transform: rotate(360deg);
    /* Firefox 16+, IE 10+, Opera */
  }
}

@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    /* Chrome, Opera 15+, Safari 3.1+ */
    -ms-transform: rotate(0deg);
    /* IE 9 */
    transform: rotate(0deg);
    /* Firefox 16+, IE 10+, Opera */
  }

  100% {
    -webkit-transform: rotate(360deg);
    /* Chrome, Opera 15+, Safari 3.1+ */
    -ms-transform: rotate(360deg);
    /* IE 9 */
    transform: rotate(360deg);
    /* Firefox 16+, IE 10+, Opera */
  }
}

#loader-wrapper .loader-section {
  position: fixed;
  top: 0;
  width: 51%;
  height: 100%;
  /* background: #222324; */
  /* background: #101010; */
  background: #fff;
  z-index: 1000;
  -webkit-transform: translateX(0);
  /* Chrome, Opera 15+, Safari 3.1+ */
  -ms-transform: translateX(0);
  /* IE 9 */
  transform: translateX(0);
  /* Firefox 16+, IE 10+, Opera */
}

#loader-wrapper .loader-section.section-left {
  left: 0;
}

#loader-wrapper .loader-section.section-right {
  right: 0;
}

/* Loaded */
.loaded #loader-wrapper .loader-section.section-left {
  -webkit-transform: translateX(-100%);
  /* Chrome, Opera 15+, Safari 3.1+ */
  -ms-transform: translateX(-100%);
  /* IE 9 */
  transform: translateX(-100%);
  /* Firefox 16+, IE 10+, Opera */
  -webkit-transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);
  -o-transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);
  transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);
}

.loaded #loader-wrapper .loader-section.section-right {
  -webkit-transform: translateX(100%);
  /* Chrome, Opera 15+, Safari 3.1+ */
  -ms-transform: translateX(100%);
  /* IE 9 */
  transform: translateX(100%);
  /* Firefox 16+, IE 10+, Opera */

  -webkit-transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);
  -o-transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);
  transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);
}

.loaded #loader,
.loaded .loader-img,
.loaded .loader-text,
.loaded #load {
  opacity: 0;
  -webkit-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

.loaded #loader-wrapper {
  visibility: hidden;
  -webkit-transform: translateY(-100%);
  /* Chrome, Opera 15+, Safari 3.1+ */
  -ms-transform: translateY(-100%);
  /* IE 9 */
  transform: translateY(-100%);
  /* Firefox 16+, IE 10+, Opera */
  -webkit-transition: all 0.3s 1s ease-out;
  -o-transition: all 0.3s 1s ease-out;
  transition: all 0.3s 1s ease-out;
}










/* -----------------------------------------------------------------
    -  Cursor styles
----------------------------------------------------------------- */
.cursor {
  pointer-events: none;
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;
  display: block;
  /*styles applied for showing / hiding cursor - do not touch*/
  -webkit-transition: opacity 300ms linear;
  -o-transition: opacity 300ms linear;
  transition: opacity 300ms linear;
  opacity: 0;
  /*element width*/
  width: 6px;
  height: 6px;
}

.cursor.moving {
  opacity: 1;
}

.cursor::before {
  content: " ";
  height: 100%;
  width: 100%;
  position: absolute;
  border-radius: 50%;
  top: 0;
  left: 0;

  /* transitions animations*/
  opacity: 1;
  -webkit-transition: opacity 300ms linear;
  -o-transition: opacity 300ms linear;
  transition: opacity 300ms linear;
}

/* expand is the class you assigned with the plugin to cursor when a selected element is hovered*/
.cursor.expand::before {
  opacity: 0;
}

/* -----------------------------------------------------------------
    -  Node styles
----------------------------------------------------------------- */
.node {
  pointer-events: none;
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  display: block;

  /*styles applied for showing / hiding cursor - do not touch*/
  -webkit-transition: opacity 300ms linear;
  -o-transition: opacity 300ms linear;
  transition: opacity 300ms linear;
  opacity: 0;

  /*element width*/
  width: 24px;
  height: 24px;
}

.node.moving {
  opacity: 1;
}

.node::before {
  content: " ";
  height: 100%;
  width: 100%;
  position: absolute;
  background-color: transparent;
  border-radius: 50%;
  top: 0;
  left: 0;
  border-width: 1px;
  border-style: solid;
  /*states and transitions animations*/
  -webkit-transform: scale(1.5);
  -ms-transform: scale(1.5);
  transform: scale(1.5);
  opacity: 1;
  -webkit-transition: opacity 300ms linear, transform 300ms linear,
    border 300ms linear, background-color 300ms linear;
  -o-transition: opacity 300ms linear, transform 300ms linear,
    border 300ms linear, background-color 300ms linear;
  -webkit-transition: opacity 300ms linear, border 300ms linear,
    background-color 300ms linear, -webkit-transform 300ms linear;
  transition: opacity 300ms linear, border 300ms linear,
    background-color 300ms linear, -webkit-transform 300ms linear;
  -o-transition: opacity 300ms linear, transform 300ms linear, border 300ms linear,
    background-color 300ms linear;
  transition: opacity 300ms linear, transform 300ms linear, border 300ms linear,
    background-color 300ms linear;
  transition: opacity 300ms linear, transform 300ms linear, border 300ms linear,
    background-color 300ms linear, -webkit-transform 300ms linear;
}

/* expand is the class you assigned with the plugin to cursor when a selected element is hovered*/
.node.expand::before {
  -webkit-transform: scale(3);
  -ms-transform: scale(3);
  transform: scale(3);
  opacity: 0.5;
}






/* Overlay ----------------------------------------- */


.demo-video .overlay::after,
.demo-particles .overlay::after,
.demo-hotel .overlay::after {
  content: '';
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
}

.demo-video .overlay::after {
  left: 0;
  background-color: rgba(0, 0, 0, 0.3);
}

.demo-particles .overlay::after {
  right: 0;
  background: linear-gradient(90deg, #282828 0%, rgba(40, 40, 40, 0) 100%);
  transform: matrix(-1, 0, 0, 1, 0, 0);

}

.demo-hotel .overlay::after {
  left: 0;
  background: linear-gradient(90deg, #282828 0%, rgba(40, 40, 40, 0) 100%);

}








/* ------------------------------------ */
.venues-img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-image: url("/img/venue-1.jpg");
}

.venues-img-wrap {
  width: 30vw;
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
  pointer-events: none;
  visibility: hidden;
  padding-bottom: 25vw;
}








/* ------------------------------------------------------------- */


/* body {
	margin: 0;
	--color-text: #111;
	--color-bg: #f8ecde;
	--color-link: #b19e7f;
	--color-link-hover: #000;
	color: var(--color-text);
	background-color: var(--color-bg);
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font-family: sofia-pro, sans-serif;
} */

/* Grainy texture animation by Geoff Graham https://css-tricks.com/snippets/css/animated-grainy-texture/ */

/* main::before {
	animation: grain 8s steps(10) infinite;
	background-image: url(../img/noise.png);
	content: '';
	height: 300%;
	left: -50%;
	opacity: 0.6;
	position: fixed;
	top: -100%;
	width: 300%;
} */

@keyframes grain {

  0%,
  100% {
    transform: translate(0, 0);
  }

  10% {
    transform: translate(-5%, -10%);
  }

  20% {
    transform: translate(-15%, 5%);
  }

  30% {
    transform: translate(7%, -25%);
  }

  40% {
    transform: translate(-5%, 25%);
  }

  50% {
    transform: translate(-15%, 10%);
  }

  60% {
    transform: translate(15%, 0%);
  }

  70% {
    transform: translate(0%, 15%);
  }

  80% {
    transform: translate(3%, 35%);
  }

  90% {
    transform: translate(-10%, 10%);
  }
}

a {
  text-decoration: none;
  color: var(--color-link);
  outline: none;
}

a:hover,
a:focus {
  color: var(--color-link-hover);
  outline: none;
}

.menu-content2 {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  padding: 10vh 0 25vh;
  --marquee-width: 100vw;
  --offset: 20vw;
  --move-initial: calc(-25% + var(--offset));
  --move-final: calc(-50% + var(--offset));
  /* --item-font-size: 10vw; */
  --item-font-size: 3vw;
  counter-reset: menu;
}

.menu__item {
  cursor: default;
  position: relative;
  padding: 0 5vw;
}

.menu__item-link {
  display: inline-block;
  cursor: pointer;
  position: relative;
  -webkit-text-stroke: 1.5px #fff;
  text-stroke: 1.5px #fff;
  -webkit-text-fill-color: transparent;
  text-fill-color: transparent;
  color: transparent;
  transition: opacity 0.4s;
}

.menu__item-link::before {
  all: initial;
  font-family: sofia-pro, sans-serif;
  counter-increment: menu;
  content: counter(menu);
  position: absolute;
  bottom: 60%;
  left: 0;
  pointer-events: none;
}

.menu__item-link:hover {
  transition-duration: 0.1s;
  opacity: 0;
}

.menu__item-img {
  pointer-events: none;
  position: absolute;
  height: 50vh;
  max-height: 400px;
  opacity: 0;
  left: 100%;
  top: 50%;
  transform: translate3d(calc(-100% - 6vw), -30%, 0) translate3d(0, 20px, 0);
}

.menu__item-link:hover+.menu__item-img {
  opacity: 1;
  transform: translate3d(calc(-100% - 6vw), -30%, 0) rotate3d(0, 0, 1, 4deg);
  transition: all 0.4s;
}

/* Make sure 3 items are visible in the viewport by setting suitable font size. */

.marquee {
  position: absolute;
  top: 0;
  left: 0;
  width: var(--marquee-width);
  overflow: hidden;
  pointer-events: none;
  mix-blend-mode: color-burn;
}

.marquee__inner {
  width: fit-content;
  display: flex;
  position: relative;
  transform: translate3d(var(--move-initial), 0, 0);
  animation: marquee 5s linear infinite;
  animation-play-state: paused;
  opacity: 0;
  transition: opacity 0.1s;
}

.menu__item-link:hover~.marquee .marquee__inner {
  animation-play-state: running;
  opacity: 1;
  transition-duration: 0.4s;
}

.marquee span {
  text-align: center;
}

.menu__item-link,
.marquee span {
  white-space: nowrap;
  font-size: var(--item-font-size);
  padding: .5vw 1vw;
  font-weight: 900;
  line-height: 1.15;
}

.marquee span {
  font-style: italic;
}

@keyframes marquee {
  0% {
    transform: translate3d(var(--move-initial), 0, 0);
  }

  100% {
    transform: translate3d(var(--move-final), 0, 0);
  }
}















/* Particles ------------------------ */
.particles {
  z-index: 1;
  overflow: hidden;
}









/* Tabs --------------------------- */
.container-hidden {
  display: none;
}

@keyframes fadeAnimation {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.fade-in {
  animation: fadeAnimation 0.5s ease-in-out;
}

